include readme.html
include LICENSE.txt
include profile.py
include setup.py
include test.py
include web.py
include debian/changelog
include debian/control
include debian/copyright
include debian/pyversions
include debian/rules
